@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

.hind_madurai {
    font-family: "Hind Madurai", sans-serif;
}
.primary_color {
    background-color: rgba(0, 166, 62, 1);
}
.secondary_color {
    background-color: rgba(65, 255, 107, 0.1);
}
